* {}

#wrapper {
    width: 1200px;
    height: auto;
    overflow: auto;
    border: 2px solid #ffffff;

}

#title {
    display: inline-block;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 65px;
    letter-spacing: 6px;
    color: #000000;
    margin-top: 25px;
    margin-left: 20%;
}

#title:hover{
    background-color: #cceeff;
}

#column1 {
    width: 800px;
    height: auto;
    float: left;
    border: 2px solid #ffffff;
    background-color: #ffffff;
}

#box {
    width: 80%;
    float: left;
    margin: auto 5px auto 5px;
}

#left {
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 60px;
    color: #000000;
    float: left;
    margin: 210px auto auto 20px;
    display: inline-block; 
    filter: progid:DXImageTransform.Microsoft.BasicImage(mirror=1);
    -moz-transform: scale(-1,1);
    -ms-transform: scale(-1,1);
    -o-transform: scale(-1,1);
    -webkit-transform: scale(-1,1);
    transform: scale(-1,1);
}

#left:hover {
    background-color: #ccccff;
    display: inline-block; 
    filter: progid:DXImageTransform.Microsoft.BasicImage(mirror=1);
    -moz-transform: rotate(-90deg);
    -ms-transform: scale(-1,1);
    -o-transform: scale(-1,1);
    -webkit-transform: scale(-1,1);
    transform: scale(-1,1);
}

#right {
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 60px;
    color: #000000;
    float: left;
    margin: 210px auto auto auto;
}

#right:hover {
    background-color: #ccccff;
}

#column2 {
    width: 30%;
    height: auto;
    float: left;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    margin: 65px auto auto 25px;
}

#greeting {
    width: 100%;
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 45px;
    letter-spacing: 2px;
    color: #000000;
}

#name {
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 45px;
    letter-spacing: 2px;
    color: #000000;
}

#name:hover{
    background-color: #ffffba;
}

#bodycopy {
    width: 100%;
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 1px;
    color: #000000;
}

#github {
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #000000;
}

#github:hover {
    background-color: #ffdfba;
  }

#button {
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 1px;
    color: #000000;
}

#contact {
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 1px;
    color: #000000;
}

#contact:hover {
    background-color: #baffc9;
}

#mail {
    display: none;
}

#fact {
    width: 600px;
    height: 400px;
    border: 4px dashed #000000;
    background-color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 55px;
    color: #000000;
    z-index: 1;
    position: absolute;
    left: 45%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-left: 25px;
    display: none;
}

#factoid {
    background-color: #ffdfba;
    line-height: 1.2;
}

#hand {
    display: inline-block;
    height: 50%;
    margin-top: -9%;
    margin-left: 68%;
}

#leave {
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 45px;
    color: #000000;
    position: absolute;
    left: 91%;
    top: 1%;
}

#close {
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 45px;
    color: #000000;
    position: absolute;
    left: 91%;
    top: 1%;
}

/* #email {
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #000000;    
} */

#form {
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    margin: auto auto auto 20px;    
}