* {}

#wrapper {
    width: 1360px;
    height: auto;
    overflow: auto;
    border: 2px solid #ffffff;

}

#title {
    display: inline-block;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 65px;
    letter-spacing: 6px;
    color: #000000;
    margin-top: 25px;
    margin-left: 25%;
}

#title:hover{
    background-color: #ffb3ba;
}

#column1 {
    width: 800px;
    height: auto;
    float: left;
    border: 2px solid #ffffff;
    background-color: #ffffff;
}

#box {
    width: 80%;
    float: left;
    margin: auto 5px auto 5px;
}

#left {
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 60px;
    color: #000000;
    float: left;
    margin: 210px auto auto 20px;
}

#right {
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 60px;
    color: #000000;
    float: left;
    margin:210px auto auto auto;
}

#column2 {
    width: 40%;
    height: auto;
    float: left;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    margin: 70px auto auto auto;
}

#greeting {
    width: 100%;
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 45px;
    letter-spacing: 2px;
    color: #000000;
}

#name {
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 45px;
    letter-spacing: 2px;
    color: #000000;
}

#name:hover{
    background-color: #ffffba;
}

#bodycopy {
    width: 100%;
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 1px;
    color: #000000;
}

#github {
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #000000;
}

#github:hover {
    background-color: #ffdfba;
  }

#button {
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 1px;
    color: #000000;
}

#button {
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 1px;
    color: #000000;
}

#button:hover {
    background-color: #baffc9;
  }

#contact {
    width: 450px;
    height: 300px;
    border: 4px dashed #000000;
    background-color: #ffffff;
    position: fixed;
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    display: none;
}

#close {
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 45px;
    color: #000000;
    position: absolute;
    left: 91%;
    top: 1%;
}

#email {
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #000000;    
}

#form {
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    margin: auto auto auto 20px;    
}