* {}

#wrapper {
    width: 100%;
    height: auto;
    overflow: auto;
    border: 2px solid #ffffff;

}

#title {
    width: 100%;
    margin: 25px auto auto 25px;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 65px;
    letter-spacing: 6px;
    color: #000000;
    text-align: center;
}

#column1 {
    width: 59%;
    height: auto;
    float: left;
    border: 2px solid #ffffff;
    background-color: #ffffff;
}

#box {
    align: center;
    margin: auto auto auto 5px;
    width: 80%;
}

#left {
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 60px;
    color: #000000;
    float: left;
    margin:210px auto auto 20px;
}

#right {
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 60px;
    color: #000000;
    float:right;
    margin:210px 30px auto auto;
}

#column2 {
    width: 39%;
    height: auto;
    float: left;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    margin: 70px auto auto 20px;
}

#greeting {
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 45px;
    letter-spacing: 2px;
    color: #000000;
}

#name {
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 45px;
    letter-spacing: 2px;
    color: #000000;
}

#name:hover{
    background-color: #ffffba;
}

#bodycopy {
    width: 100%;
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 1px;
    color: #000000;
}

#github {
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #000000;
}

#github:hover {
    background-color: #ffdfba;
  }

#button {
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 1px;
    color: #000000;
}

#contact {
    width: 600px;
    height: 300px;
    border: 3px dotted #000000;
    background-color: #ffffff;
    position: fixed;
    z-index: 1;
    left: 500px;
    top: 300px;
    display: none;
}

#button {
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 1px;
    color: #000000;
}

#button:hover {
    background-color: #baffc9;
  }

#close {
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 45px;
    color: #000000;
    margin: auto auto auto 465px;
}

#email {
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #000000;    
}

#image1 {
    height: 100%;
    float: left;
}